*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	font-family: 'Tw Cen MT', sans-serif;
}

.container {
	position: relative;
	height: 100vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
	background-size: cover;
	background-position: center;
	padding: 0 8%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px 0;
	z-index: 2;
}

nav .logo {
	width: 120px;
	cursor: pointer;
	z-index: 2;
}

nav .cart {
	width: 40px;
	cursor: pointer;
	z-index: 2;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	padding-right: 40px;
	text-align: right;
	list-style-type: none;
	z-index: 2;
}

ul li {
	margin-right: 10px;
	z-index: 2;
}

ul li a {
	position: relative;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	z-index: 2;
}

ul li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	transform: translateX(-50%) translateY(-5px);
	height: 3px;
	background: #ffa400;
	transition: 0.3s;
	z-index: 2;
}

ul li a:hover::after {
	width: 38%;
	z-index: 2;
}


.row a {
	display: flex;
	align-items: center;
	padding: 5px 20px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	margin-right: 40px;
	font-size: 18px;
	transition: 0.3s;
	z-index: 2;
}

.row a:hover {
	background-color: #fff;
	color: #000;
	z-index: 2;
}

.row a span {
	font-size: 15px;
	font-weight: bold;
	line-height: 2;
	margin-left: 10px;
	z-index: 2;
}

.row span {
	font-size: 18px;
	z-index: 2;
}

.social-icons {
	position: absolute;
	right: 5%;
	bottom: 8%;
	z-index: 2;
}

.social-icons a {
	padding: 5px;
	margin-right: 4px;
	z-index: 2;
}

.banner{
	   height: calc(100vh - 60px);
	   width: 100% ;
	   display: flex ;
	   justify-content: center;
	   align-items: center;
}

.banner video{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
    pointer-events: 0;
	
}

.content{
	     background-color: rgba(0,0,0,0.3) ;
		 padding: 25px;
		 text-align: center;
		 z-index: 100;
}

.content h1 {
	    color: white;
		font-size: 50px;

}

.content p {
	       color: white;
		   font-size: 20px;
		   margin-bottom: 10px;
             }
	

@media(max-width: 910px)
{
	
.container h1 
{
	font-size: 35px;
}
	
}

#commanda {
	background-color: #0496c2;
	padding: 10px 30px ;
	text-decoration: 0;
	color: white;
	font-weight: bold ;
	border-radius: 6px;
}
