@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #8855e9;
}
.input_add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.input_add form  {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,0.4);
    border-radius: 6px;
}
.input_add form input[type = "text"] {
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 6px;
    outline: 0;
    padding: 5px;
    margin-bottom: 10px;
}
textarea {
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 6px;
    outline: 0;
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
}
.input_add form input[type = "file"]{
    margin-bottom: 15px;
} 
.btn-liste-prod ,.input_add form input[type = "submit"] {
    padding: 5px 8px;
    border: 0;
    outline: 0;
    background-color: #8855e9;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
}
.btn-liste-prod {
    text-decoration: 0;
    text-align: center;
    margin-top: 10px;
}
/*Page resultats.html*/

.result {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-content {
    background-color: #fff;
    width: 80%;
    border: 6px;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(0,0,0,0.4);
}
.result-content a {
    color: #8855e9;
    text-decoration: 0;
}
.result-content a:hover {
    text-decoration: underline;
}
/**Scroll bar css*/
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
}
.result-content h3 {
    text-align: center;
    margin-top: 8px;
    text-transform: uppercase;

}                               
.liste-produits {
    max-height: 490px;
    overflow: auto;
}
.produit {
    margin: 30px 0;
    height: 130px;
    display: flex;
}
.produit .image-prod {
    height: 100%;
    width: 250px;
}
.produit .image-prod img {
    height: 100%;
    width: 110%;
    object-fit: cover;
    border-radius: 8px;
}
.produit .text {
    margin-left: 35px;
    overflow: hidden;
    width: 100%;
    word-wrap: break-word; /* Permet au texte de passer à la ligne */
}

.produit .text .titre {
    text-transform: uppercase;
}

.produit .text .description {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

 .link {
            position: absolute;
            top: 20px;
            left: 300px;
            background-image: linear-gradient(to right , #e91e63 ,#f44336);
            text-decoration: none;
            padding: 10px 25px;
            border-radius: 6px;
            color: #fff;
        }
        .linko {
    position: absolute;
    top:20px ;
    right: 120px;
   background-color: blue;
    text-decoration: 0;
    padding: 10px 25px;
    border-radius: 6px;
    color: #fff;   
}

   .linka {
    position: absolute;
    top:20px ;
    right: 300px;
    background-color: green;
    text-decoration: 0;
    padding: 10px 25px;
    border-radius: 6px;
    color: #fff;   
}

/*responsive*/
@media (max-width:745px) {
    .result-content{
        width: 80%;
    }
    
}

h1{
    color:  #0496c2;;
    font-size: 20px;
    font-weight: 500;
}
