<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Page d'accueil</title>
    </head>
    <body>
        <div class="container">
            
            <nav>
                <ul>
                     <li><a href="{{ url_for('contact') }}">contact</a></li>
                </ul>
            </nav>
      

            

            <div class = "banner">
                    <video autoplay muted loop>
             
                       <source src="/static/images/venum.mov" type="video/mp4">
             
                     </video>
            
                <div class="content">
                    <center>
                    
                    <h1> L'ART DE LA PERFORMANCE </h1>
                    
                    </center>  
                    <br></br>
                    <a href="{{ url_for('vitrine') }}" id="commanda"> WELCOME </a>                  
                  
                </div>  
                
            </div>

        </div>
    </body>
</html>
